.lowerHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.cardTitle {
  padding: .5rem;
}

.cardTitle2 {
  padding: .5rem;
  padding-top: 1rem;
}

.Options {
  display: flex;
}

.buttonsContainer {
  margin: 2rem;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}


